@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

* {
    box-sizing: border-box;
    
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;

    color: #121200;

    background: url('./images/pismo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
  padding-top: 100px;
  color: white;
  text-shadow: 0 0 15px #000;
}

#about {
    padding-top: 150px;
}

#portfolio {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#other {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#contact {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around stretch;
}

@media only screen and (max-width: 850px) {
    .container {
        flex-direction: column;
        align-items: center stretch;
    }

    .hide-mobile {
        display: none;
    }
}

.link-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    min-width: 200px;
}

.nav-link {
    padding: 8px;
    font-size: 24px;

    transition: 0.4s;
}

.nav-link:hover{
    color: #20C9DE;
    text-decoration: underline; 
    text-decoration-color: #f15d40;
}

.sq-button {
    padding: 0px;
    margin-left: 8px;
    margin-right: 8px;

    border: 2px solid white;
    border-radius: 10px;

    background-color: #121200;

    width: 4rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.sq-button:hover{
    background-color: #23527c;
    box-shadow: 0 16px 24px 0 rgba(255,255,255,0.2);
}

.card {
    background-color: white;
    
    border: 2px solid #121200;
    border-radius: 10px;
    
    margin: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .1rem;
    padding-bottom: .1rem;

    flex: 0 1 30%;


    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.footer {
    width: 100%;
    z-index: 1;

    flex-shrink: 0;

    display: flex;
    justify-content: center;
}

.gridcontainer {
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
}

.text-center {
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    background-color: #121200;
    color: #23dbf3;

    overflow: hidden;
    
    padding: .1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;

    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
}

.footer {
    background-color: #C49C7F;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* .card {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
} */